{% extends 'base.html' %}

{% block body %}
<div class="card mt-5">
    <div class="card-header text-center py-3">
        <h1>Make Your Links Shorter!<i class="fas fa-link px-2"></i></h1>
    </div>
    <div class="px-3 py-4">
        <form id="shortlink-form" action="" method="POST">
            {% csrf_token %}
            <div class="row g-1">
                <div class="col-9">{{form.original_url}}</div>
                <div class="col-3">
                    <button class="btn btn-warning btn-lg w-100" type="submit">
                        Get
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mx-auto text-center mt-4 d-none" id="result-box">
    <h2 class="text-warning">Your shortened Url</h2>
    <p>You can copy the Link below and share it with your friends</p>
    
    <div class="card">
        <div class="card-header">
            Short Link
        </div>
        <div id='shorted-link-placeholder' class="card-body">
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-header">
            Details page
        </div>
        <div id='detail-link-placeholder' class="card-body">
        </div>
    </div>
</div>
{% endblock %}        


{% block jsblock %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#shortlink-form").submit(function(e){
            e.preventDefault();
            var serializedData = $(this).serialize();
            $.ajax({
                type : 'POST',
                url : "{% url 'make_shortlink' %}",
                data : serializedData,
                success : function(response){
                    $("#result-box").removeClass("d-none")
                    $("#shortlink-form")[0].reset();
                    var link_element = `<a href="${response['shorted_link']}">${response['shorted_link']}</a>`
                    $("#shorted-link-placeholder").html(link_element) 
                    var detail_element = `<a href="${response['detail_link']}">${response['detail_link']}</a>`
                    $("#detail-link-placeholder").html(detail_element) 
                },
                error : function(response){
                    console.log(response)
                }
            })
        });
    });
</script>
{% endblock %}
