<!-- Link Details Page -->

{% extends 'base.html' %}

{% block body %}
<h2>Number of clicks per day for </h2>

{% include 'core/components/link_detail_component.html' %}

  
<a class="btn btn-danger btn-lg w-100" href="{% url 'confirm-delete' link.id %}">
    Delete this link
</a>

<!-- displaying the chart -->
<div id="clicksPerDayChart"></div>
{% endblock %}

{% block jsblock %}
<script>
$(document).ready(function(){
    // Plot the data 
    var data = [
    {
        x: {{ labels|safe }},
        y: {{ data|safe }},
        type: 'bar'
    }
    ];
    Plotly.newPlot('clicksPerDayChart', data);

});
</script>
{% endblock %}