<table class="table table-dark mt-5">
    <tbody>
      <tr>
        <th scope="row">Original URL</th>
        <td><a href="{{ link.original_url }}" target="_blank">{{ link.original_url }}</a></td>
      </tr>
      <tr>
        <th scope="row">Shorted URL</th>
        <td><a target="_blank" href="{{ link.absolute_shorted_url }}"> {{ link.absolute_shorted_url }}</td>
      </tr>
      <tr>
        <th scope="row">Detail URL</th>
        <td><a target="_blank" href="{{ link.absolute_detail_url }}">{{ link.absolute_detail_url }}</td>
      </tr>
      <tr>
        <th scope="row">Create Date</th>
        <td>{{ link.created_date }}</td>
      </tr>
    </tbody>
</table>